body{
    margin : 0px;
    background-color:#F5F5F5;
    font-family: "Nunito Sans", sans-serif;
    
}

.container{
    display: flex;
}

.logo{
    margin-bottom: 40px;
    padding-top: 10px;
    padding-left: 8px;
}
hr{
    display: absolute;
    width: 390px;
    position: absolute;
    left: 0;
   border: 1px solid #ffffff22;
}
.side-bar{
    background-color: #111111;
    width: 22%;
    height: 100vh;
    padding-left: 58px;
    padding-top: 30px;
}
.menu{
    margin-top: 120px;
}
.menu a{
    text-decoration: none;
}
 .side-menu-list {

    padding: 0px;

}
.menu ul li {
   font-family: "Nunito Sans", sans-serif;
   font-size: 16px;
   list-style: none;
   color: #ffffff;
   display: flex;
   gap: 12px;
   margin-top: 30px;
   margin-bottom: 30px;
}

.active-menu{
    background-color: #ffffffa5;
    padding: 15px;
    width: 200px;
    border-radius: 4px;
}
.top-bar a{
    text-decoration: none;
    position: absolute;
    top: 53px;
    left: 96px;
}
#head-top-bar{
    padding-left: 125px;
}
.top-bar h1{
    padding: 48.5px 50px;
    font-size: 24px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    margin-top: 0px;
}
.top-bar{
    background-color: #ffffff;
    justify-content: center;
    position:relative; 
}
.main{
    width: 100%;
}
.right-main{
   width: 1000px;
   height: 550px;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 0px;
   border-radius: 10px;
   overflow: hidden;
}

.categories{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0.5px solid #0000002a;
}
.title{
    margin-left: 20px;
}
.add-new{
    background-color: #FF5C00;
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    width: 200px;
    font-size: 12px;
    height: 40px;
    width: 140px;
    border-radius: 4px;
    border:none;
    margin-top: 14px;
}


/* list */


.category-list {
    list-style-type: none;
    padding: 0;
}

.category-item {
    padding: 10px;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}
.category-item:nth-child(even) {
    background-color:  #ffffff;
}
.category-item span {
    flex: 1;
}

.category-item button {
    margin-left: 5px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    width: 350px;
    border-radius: 5px;
}
#popup-title{
    margin-top: 4px;
}
#category-name{
    margin-bottom: 4px;
    margin-top: 30px;
}

.popup input {
    width: 300px;
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.popup button {
    display: block;
    padding: 10px 15px;
    background-color: #FF5C00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}
.icon-button{
    cursor: pointer;
    width: 28px;
    margin-left: 8px;
}


/* Delete */

#delete-confirmation-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    border-radius: 5px;
}
.btn{
    display: flex;
}
#delete-confirmation-popup button {
    padding: 10px 40px;
    margin: 10px;
    background-color: #FF5C00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    
   
}

#delete-confirmation-popup button:hover {
    background-color: #FF5C00;
}

#delete-confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}




/* Stories  */

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 0px;
}

.right-main li {
    padding: 25px;
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;

}

li span {
    font-size: 16px;
    display: block;
}
.nlist-item{
    position:relative;
    
}
li:nth-child(even) {
    background-color:  #ffffff;
}

.icon-button-s{
    cursor: pointer;
    width: 28px;
    margin-left: 8px;
   
}
.cate-span{
    display: block;
    position:absolute;
    left: -874px;
    font-size: 14px;
}
.view-button{
    padding: 0px;
    color: #FF5C00;
    position: absolute;
    left: -40px;
    top: 5px;
}

button {
    padding: 8px 12px;
    background-color: #FF5C00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#story-form{
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    display: grid;
    grid-template-columns:auto auto auto;
    position: relative;
    
   
}

#name-en, #name-ur{
    width: 260px;
    height: 30px;
}
#la{
    left: 30px;
    position: absolute ;
}
#story-content{
    position: absolute;
    width: 925px;
    height: 250px;
    resize: none;
    left: 30px;
    margin-top: 24px;
}
#story-form button{
 margin-top: 330px;
 margin-bottom: 15px;
   width: 160px;
   height: 40px;
   
}
.rmstories{
    margin-top: 10px;
    height: 580px;
}
.form-group {
    margin-bottom: 15px;
   
}


.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.story-details {
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 800px;
    position: relative;
}
.display{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #000000;
    padding: 20px;
    width: 100%;
   
}
.name{
    
    display: flex;
    gap: 10px;
    text-align: center;
   
}   
#story-category{
 position: absolute;
 left: 20px;
 top: 65px;
 color: #FF5C00;
 font-weight: bold;
 font-size: 13px;
}

#edit-button {
    background-color: none;
}
.btns{
    margin-right: 80px;
}
.btns button{
    background-color: #00000000;
    width: 10px;    
    margin-right: 20px;
}